/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026-09-01 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2026-09-01 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDepartmentAssignments]    Script Date: 2026-09-01 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDepartmentAssignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[AssignmentDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeDepartmentAssignments] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2026-09-01 4:31:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260111005051_AddEmployeeAndDepartment', N'10.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260825021750_AddEmployeeDepartmentAssignment', N'10.0.10')
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name]) VALUES (1, N'Human Resources')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (2, N'Finance')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (3, N'Engineering')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeDepartmentAssignments] ON 

INSERT [dbo].[EmployeeDepartmentAssignments] ([AssignmentId], [EmployeeId], [DepartmentId], [AssignmentDate], [Status]) VALUES (1, 1, 7, CAST(N'2026-08-25T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[EmployeeDepartmentAssignments] ([AssignmentId], [EmployeeId], [DepartmentId], [AssignmentDate], [Status]) VALUES (2, 1, 8, CAST(N'2026-08-26T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[EmployeeDepartmentAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Email], [DepartmentId]) VALUES (1, N'John Matthews', N'john.matthews@acme-corp.com', 1)
INSERT [dbo].[Employees] ([Id], [Name], [Email], [DepartmentId]) VALUES (2, N'Sarah Collins', N'sarah.collins@acme-corp.com', 2)
INSERT [dbo].[Employees] ([Id], [Name], [Email], [DepartmentId]) VALUES (3, N'Michael Turner', N'michael.turner@acme-corp.com', 3)
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
ALTER TABLE [dbo].[EmployeeDepartmentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDepartmentAssignments_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDepartmentAssignments] CHECK CONSTRAINT [FK_EmployeeDepartmentAssignments_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[EmployeeDepartmentAssignments]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDepartmentAssignments_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[EmployeeDepartmentAssignments] CHECK CONSTRAINT [FK_EmployeeDepartmentAssignments_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments_DepartmentId]
GO
